<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="modal.css">
  <script src="main.js" type="module" defer></script>
  <title>Zelda Wiki</title>
</head>

<body>

  <header>
    <img src="assets/logo_zelda_01.png" alt="Logo do Zelda" width="319px">
  </header>
  <section>
    <h2>Bem vindo(a) a <span>Wiki de The Legend of Zelda</span>, escolha um dos jogos e comece a utilizar a nossa plataforma para se aprofundar nesses jogos incríveis!</h2>
  </section>


  <main>
    
    <div id="cardContainer"></div>

    <!--Modal-->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close-button" id="closeModal">&times;</span>
        <h2 id="modal-title">Modal Title</h2>
        <div id="modal-info">
          <img src="./assets/1.png" alt="">
          <div id="modal-info-data">         
            <p>Developer: <span id="modal-developer"></span></p>
            <p>Publisher: <span id="modal-publisher"></span></p>
            <p>Release at: <span id="modal-release-date"></span></p>
          </div>
        </div>
        <p id="modal-content">Descrição</p>
      </div>
    </div>

    <div id="overlay" class="overlay"></div>
  </main>

</body>
</html>