<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="script.js" defer></script>
  <title>Zelda Wiki</title>
</head>
<body>
  <main>
    <header>
      <img src="/src/views/assets/logo_zelda_01.png" alt="Logo do Zelda" width="319px">
    </header>
    <section>
      <h2>Bem vindo(a) a Wiki de <span>The Legend of Zelda</span>, escolha um dos jogos e comece a utilizar a nossa plataforma para se aprofundar nesses jogos incríveis!</h2>
    </section>
  </main>
</body>
<script src="../app.js"></script>
</html>