<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>ZELDA</title>
</head>

<body>
  <form action="" method="get">
    <h2>Busca de Titulos Zelda:</h2>
    <label for="gameId">ID do game:</label>
    <input type="text" name="gameId" id="gameId">

    <hr>

    <h2>Informações:</h2>
    <label for="name">Nome</label>
    <input type="checkbox" name="name" id="name">

    <hr>

    <button type="submit" id="btn-go">Pesquisar</button>
    <button type="reset" id="btn-reset">Limpar</button>
  </form>

  <div id="result-style">
    <img src="" alt="" id="img">
    <div id="content"></div>
  </div>
  
</body>
<script src="../app.js"></script>

</html>